<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>注册</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8;width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/signin.css" >
    <link rel="stylesheet" href="/css/zhiyuan.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
<div class="container">
    <form class="form-signin" name="form2" id="regUser" accept-charset="utf-8"  action="/addregister" method="post">
        <h4 class="form-signin-heading">快速注册请注意格式</h4>
        <label for="username"  class="sr-only">用户名：</label>
        <input type="text" id="username" placeholder="用户名..." name="username"  maxlength="16" class="form-control" required autofocus>
        <label for="password" class="sr-only">手机号：</label>
        <input type="text" id="userPhone" placeholder="手机号..." name="userPhone"  class="form-control" required autofocus>
        <label for="password" class="sr-only">密码：</label>
        <input type="password" id="password" placeholder="密码..." name="password"  class="form-control" required>
        <label for="password2" class="sr-only">确认密码：</label>
        <input type="password" id="password2" placeholder="确认密码..." name="password2"  class="form-control" required>
        <p th:text="${msg}"></p>
        <input type="submit" id="reg"  style="margin-top:10px" class="btn btn-lg btn-primary btn-block" value="同意协议并注册"/> <a href="#" class="zcxy" target="_blank">注册协议</a>
    </form>
</div>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>