<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>志愿结果</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8;width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/zhiyuan.css.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header col-lg-9 col-xs-9 col-md-9">
                    <!--                    <button type="button" class="glyphicon glyphicon-align-justify navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-right: 14px;margin-top: 8px">-->
                    <!--                        <span class="sr-only">孙教授讲专业</span>-->
                    <!--                    </button>-->
                    <a class="navbar-brand" href="/">孙教授讲专业</a>
                </div>
                <div class="col-lg-3 col-xs-3 col-md-3">
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${session.loginUser != null}" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span  th:text="${session.loginUser.username}"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu col-lg-3 col-xs-3 col-md-3">
                                <li><a href="/front/logout">退出登录</a></li>
                            </ul>
                        </li>
                        <li th:if="${session.loginUser == null}">
                            <button  onclick="window.location.href = '/login'" type="button" class="btn btn-default navbar-btn" style="margin-right: 20px">
                                登录
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-8 col-md-offset-2" style="margin-bottom: 50px;margin-top: 80px;">
        <table class="table">
            <thead>
            <tr>
                <th class="active" style="width: 60px">概率</th>
                <th class="active">学校</th>
                <th class="active" style="width: 60px">地区</th>
                <th class="active" style="width: 80px">招生计划</th>
                <th class="active">专业</th>
            </tr>
            </thead>
            <tbody th:each="gaokaos:${gaokao}">
            <tr>
                <td class="active" th:text="暂无"></td>
                <td class="active"  th:text="${gaokaos.name}"></td>
                <td class="active" th:text="${gaokaos.areaname}"></td>
                <td class="active" th:text="暂无"></td>
                <td class="active" th:text="${gaokaos.spname}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>



</body>
</html>